/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Classes */
.container {
    margin: 0 auto;
}

.border-dashed {
    border: 2px dashed black;
}

.background-blue {
    background-color: rgb(30, 144, 255);
}

.background-pink {
    background-color: rgb(255, 192, 203);
}

.background-white {
    background-color: ffffff;
}

.background-grey {
    background-color: rgb(211, 211, 211);
}

/* Header */
header {
    background-color: rgb(173, 216, 230);
    display: flex;
    padding: 20px 0;
    
}

header .wrapper {
    background-color: rgb(218, 165, 32);
    display: flex;
    width: 50%;
}

header .wrapper .logo {
    width: 20%;
}

header .wrapper nav {
    width: 60%;
}

header .wrapper nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header .wrapper nav ul li {
    margin-left: 5px;
}

header .wrapper .login {
    width: 20%;
    text-align: end;
}

header .wrapper .logo,
header .wrapper nav,
header .wrapper .login {
    padding: 5px;
}

/* Hero Section */
.hero {
    background-color: rgb(0, 0, 139);
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.hero .hero-item {
    background-color: rgb(238, 130, 238);
    height: 400px;
    width: 40%;
    border-radius: 5px;
}

/* General Column */
.column2-right,
.column2-left {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.column2-right .column2-right-wrapper,
.column2-left .column2-left-wrapper {
    height: 400px;
    width: 50%;
    display: flex;
}

.column2-right .column2-right-wrapper .main-content,
.column2-left .column2-left-wrapper .main-content {
    width: 60%;
}

.column2-right .column2-right-wrapper aside,
.column2-left .column2-left-wrapper aside {
    width: 40%;
}

/* Bottom Section */
.bottom-section {
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.bottom-section .huge-green {
    background-color: rgb(34, 139, 34);
    height: 800px;
    width: 50%;
}

/* Footer */
footer {
    background-color: rgb(35, 39, 42);
}

footer .upper-footer {
    border-bottom: 2px solid rgb(211, 211, 211);
    /* height: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

footer .upper-footer .footer-wrapper {
    display: flex;
    height: 500px;
    width: 50%;
}

footer .upper-footer .footer-wrapper aside {
    width: 30%;
    background-color: rgb(240, 128, 128);
}

footer .upper-footer .footer-wrapper .column4-wrapper {
    background-color: rgb(32, 178, 170);
    display: flex;
    width: 70%;
    border-color: white;
}

footer .upper-footer .footer-wrapper .column4-wrapper .column {
    width: calc(100% / 4);
    border: 2px dashed white;
}


footer .bottom-footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

footer .bottom-footer .footer-wrapper {
    background-color: rgb(127, 255, 212);
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 20px 0;
}

footer .bottom-footer .footer-wrapper .logo,
footer .bottom-footer .footer-wrapper .button {
    background-color: rgb(255, 182, 193);
    height: 25px;
    width: 55px;
    border: 1px dashed black;
    padding: 3px;
}

